venv310/
data/audio/
data/models/
data/checkpoints/
data/processed_audio/
data/clustering/
data/text/
data/text_output/
data/manifests/
data/manifests_nonsil/
data/manifests_small/
data/test_refs/
data/transcription_phones/
data/logs/
multirun/
outputs/
app.log
__pycache__/
*.pyc
